@using TravelTripProject.Models.Entities;
@model List<Blog>
<div class="con-bot">
    @foreach (var blog in Model)
     {
        <div class="left">
            <div class="bot-left">
                <img src="@blog.BlogImage" alt="Alternate Text" />
            </div>
            <div class="left-text">
                <h4>@blog.Header</h4>
                <p>@blog.Description.Substring(0, 80)</p>
                <p><a href="/Blog/BlogDetay/@blog.Id"><span class="read">Devamını Oku>></span></a></p>
                <span class="doller">@blog.BlogDate.ToShortDateString()</span>
            </div>
        </div>
     }
    @Html.Action("Partial2","Default")
    <div class="clear"></div>
</div>